
# Created by https://www.toptal.com/developers/gitignore/api/rider,dotnetcore
# Edit at https://www.toptal.com/developers/gitignore?templates=rider,dotnetcore

### DotnetCore ###
# .NET Core build folders
bin/
obj/
packages/
Folder.DotSettings.user
Rogue Legacy Randomizer.csproj.user

# Common node modules locations
/node_modules
/wwwroot/node_modules

### Rider ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# Rider
.idea/

# CMake
cmake-build-*/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# Inno Output
inno/Output

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Rogue Legacy Content
Content/*
!Content/PLACEHOLDER

# Helpful programs I don't need on my GitHub
util/xnbcli
